{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<form method="post" action="{{ url_for('auth.login') }}" class="form-card">
  <label>Email</label>
  <input type="email" name="email" required>

  <label>Password</label>
  <input type="password" name="password" required>

  <div class="form-row">
    <button class="button" type="submit">Login</button>
    <a class="link" href="{{ url_for('auth.signup') }}">Sign up</a>
  </div>
</form>
{% endblock %}
